*.iml
.gradle
.idea/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
specification
*.apk
*.aab
*.hprof
*.log
/app/.idea
/app/release
google-services.json
Reference/